header h1 {
    background-color: #F5B959;
    text-align: center;
    color: black;
    width: 100%;
}

/*----------- BODY --------------*/

body {
    background-color: #f5f5f5;
    font-size: 20px;
    line-height: 1.6;
    color: #333333;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border: 1px solid #cccccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#reviewCountContainer {
    background-color: #FFD7AF;
    padding: 10px;
    border: 2px solid #F5B959;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
}

#reviewCountContainer h2 {
    margin: 0; /* Remove any default margin */
    padding: 10px; /* Add padding for spacing */
    color: #333; /* Adjust text color if needed */
    
}

#reviewCount {
    display: inline;
    font-weight: bold;
    color: black;
    font-size: 24px;
}

/*----- FOOTER------*/

footer {
    text-align: center;
    margin-top: 20px;
    background-color: #FFD7AF;
    color: black;
}

.footer-top, .footer-bottom {
    background-color: white;
    margin: 0;
    color: black;
}

/* Centered container */
.confirmation-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px; 
    margin-top: 20px;
}

/* Confirmation message */
.confirmation-message {
    background-color: #F5B959;
    color:black;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
}